@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
}

.bg-container{
    background-color:rgb(63, 169, 133);
    height:100vh;
    padding: 20px;
}

.card{
    width: 450px;
    border-radius:0 0 10px 10px;

}

.b1{
    background-color: rgb(60, 145, 128);
    padding:10px;
    color:white;
    border-radius:10px 10px 0 0;
}

.btn1{
    background-color: rgb(60, 145, 128);
    padding:10px;
    color:white;
    border:none;
    border-radius:5px;
}
